th{
	border: 1px solid #000;
}

td{
	border: 1px solid #000;
}

.popup{
	width: 25%;
	background: rgb(255, 255, 255);
	border-radius: 6px;
	border-color:  rgb(255, 193, 7);
	/*border-width: 1mm;*/
	border-style: solid;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0.1);
	/*text-align: center;*/
	padding: 0 30px 30px;
	color: rgb(0, 0, 0);
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}

.open-popup{
	visibility: visible;
	top: 40%;
	transform: translate(-50%,-50%) scale(1);
}

.popup h2{
	text-align: center;
	font-size: 38px;
	font-weight: 500;
	margin: 30px 0 0 10px;
}

.updateButton{
	display: inline;
	width: 50%;
	margin-top: 10%;
	padding: 10px 0;
	background: rgb(255, 193, 7);
	color: rgb(0, 0, 0);
	border: 0;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.cancelButton{
	display: inline;
	width: 40%;
	margin-top: 10%;
	padding: 10px 0;
	background: rgb(255, 0, 0);
	color: rgb(0, 0, 0);
	border: 0;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.createButton{
	display: inline;
	width: 50%;
	margin-top: 10%;
	padding: 10px 0;
	background: #198754;
	color: rgb(0, 0, 0);
	border: 0;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

#reportSection{
	padding: 10px;
	margin-bottom: 20px;
	outline: rgb(238, 238, 238) solid 2px;
}

/*
label{
	display: inline-block;
	width: 150px;
	text-align: right;
}*/